:root {
  --white: #F6F4E7;
  --whiteblue: #b9edf7;
  --lightblue: #0DCAF0;
  --lightblue2: #36A9B4;
  --black: #212121;
  --grey: #323232;
  --lightgrey: #515151;
}
body {
  background-color: var(--black);
}
/*  Navbar */
.navbar {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  z-index: 2;
}
.navbar-brand {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--grey);
}
.navbar-brand:hover {
  color: var(--whiteblue);
}
.navbar-brand img {
  width: 3rem;
  margin-right: 0.6rem;
}
.nav-link {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--grey);
  margin: 0 0.8rem;;
}
.navbar-nav > .nav-link:focus {
  color: var(--white) !important;
}
.nav-link:hover {
  color: var(--whiteblue);
  animation: increase 0.3s ease-in-out 1 forwards;
}
/* About us */
.about-us {
  font-family: 'Quicksand', sans-serif;
}
.about-us-row {
  padding-top: 3rem;
  border-top: 4px var(--grey) solid;
}
.title-section {
  font-family: 'Quicksand', sans-serif;
  color: var(--white);
}
.text-item {
  font-family: 'Tenor Sans', sans-serif;
  color: var(--white);
  line-height: 1.8;
}
.favicon-container {
  color: var(--white);
  font-size: 1.8rem;
  background-color: var(--lightblue2);
}
/* Featured trips */
.featured-trips-container {
  border-top: 4px var(--grey) solid;
}
.title-featured-trips {
  color: var(--white);
}
.row-featured-trips .card {
  background-color: var(--lightblue2);
}
.card {
  margin: 2rem 2rem;
}
/* .card:hover {
  animation: card-hover 0.3s ease-in-out 1 forwards ;
} */
.card-title {
  color: var(--white);
}
.card-text {
  color: var(--white);
}
.card-1 {
  background-image: url(../img/card1.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
}
.card-2 {
  background-image: url(../img/card2.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
}
.card-3 {
  background-image: url(../img/card3.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
}
.card-4 {
  background-image: url(../img/card4.jpg);
  height: 10rem;
  background-position: center;
  background-size: cover;
}
/* Contact form */
.contact-form {
  margin-top: 3.6rem;
  margin-bottom: 6rem;
}
.form-container input,
.form-container textarea{
  background-color: var(--white);
  opacity: 1;
}
.title-form {
  font-family: 'Quicksand', sans-serif;
  color: var(--white);
}
.form-label {
  color: var(--white);
  font-size: 1.2rem;
}
.basic-input {
  padding-top: 2rem;
  border-top: 4px var(--grey) solid;
}
.btn-form {
  color: var(--white);
  background-color: var(--lightblue2);
  border: none;
  margin-top: 1rem;
  width: 8rem;
}
.form-container .form-control:focus{
  box-shadow: 0 0 0 .25rem var(--lightblue)
}
.tooltip-inner {
  /* cambios que afectan al contenedor del tooltip */
  /* width: 30rem; */
  font-family: 'Quicksand', sans-serif;
  color: var(--white);
  font-size: 1rem;
  text-align: start;
  background-color: var(--grey);
}
.tooltip.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow::before,
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    /* cambios que afectan a la flecha del tooltip*/
  border-top-color: var(--grey);
}
/* Send Modal */
.modal-content {
  font-family: 'Quicksand', sans-serif;
  color: var(--white);
  background-color: var(--grey);
}
.modal-header {
  border-top: 8px var(--lightblue2) solid;
  .btn-close {
    filter: invert(1);
  }
}
.modal-footer {
  border: none;
  border-bottom: 4px var(--white) solid;
  .btn {
    color: var(--white);
    background-color: var(--lightgrey);
  }
}
/* Footer */
.footer {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--lightblue2);
}
.footer-container {
  color: var(--white);
}
.footer a {
  text-decoration: none;
}
.footer-text {
  font-size: 1.4rem;
}
.favicon-item {
  margin: 0 0.5rem;
}
.fa-brands {
  color: var(--white);
  font-size: 2rem;
}
.fa-brands:hover {
  animation: increase-rrss 0.2s ease-in-out 1 forwards;
}
/* Keyframes */
@keyframes increase {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    text-shadow: 4px 4px 3px var(--grey);
  }
}
@keyframes increase-rrss {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    text-shadow: 3px 3px 2px var(--grey);
  }
  100% {
    transform: scale(1.3);
    text-shadow: 4px 4px 3px var(--grey);
  }
}