:root {
  --white: #F6F4E7;
  --whiteblue: #b9edf7;
  --lightblue: #0DCAF0;
  --lightblue2: #36A9B4;
  --black: #212121;
  --grey: #323232;
}
body {
  background-color: var(--black);
}
/*  Navbar */
.navbar {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  z-index: 2;
}
.navbar-brand {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--grey);
}
.navbar-brand:hover {
  color: var(--whiteblue);
}
.navbar-brand img {
  width: 3rem;
  margin-right: 0.6rem;
}
.nav-link {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--grey);
}
.navbar-nav > .nav-link:focus {
  color: var(--white) !important;
}
.nav-link:hover {
  color: var(--whiteblue);
  animation: increase 0.5s ease-in-out 1;
}

/* Footer */
.footer {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--lightblue2);
}
.footer-container {
  color: var(--white);
}
.footer a {
  text-decoration: none;
}
.footer-text {
  font-size: 1.4rem;
}
.favicon-item {
  margin: 0 0.5rem;
}
.fa-brands {
  color: var(--white);
  font-size: 2rem;
}
.fa-brands:hover {
  animation: increase 0.5s ease-in 1;
}
/* Keyframes */
@keyframes increase {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}